numpy==1.21.1
flask==2.0.1
flask-cors==3.0.10
torch==2.3.0
torchvision==0.18.0
opencv-python==4.6.0.66
pillow==10.2.0
matplotlib==3.4.3
werkzeug==2.0.1
gunicorn==20.1.0
openai==1.76.1
python-dotenv==1.0.1
